<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="false"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<!--autoReload 修改配置文件后是否允许自动加载无须重启程序
	throwExceptions 内部日志系统抛出异常,建议设为“false”，这样由于日志引发的问题不至于导致应用程序的崩溃。
	internalLogLevel 可选Trace|Debug|Info|Warn|Error|Fatal决定内部日志的级别 Off 关闭
	internalLogFile 把内部的调试和异常信息都写入指定文件里-->
	
	<variable name="file_max_size" value="10240000"/>
	<variable name="logDir" value="${basedir}/AllLog/${date:format=yyyy-MM}"/>
	<variable name="time_level" value="时间：${longdate} |  ${uppercase:${level}} "/>
	<variable name="split_line" value="-------------------------------------------------------------------------"/>
	<variable name="log_message" value="${message} ${exception:format=tostring}${newline}${split_line}"/>

	<targets>
		<!--https://github.com/nlog/NLog/wiki/File-target
			name用于rules下的logger的writeTo来定位
			xsi:type指定输出方式，“Console”表示输出到控制台，“File”表示输出到文件
			fileName输出的文件路径和文件名称，${basedir}表示程序运行目录，可以自行指定
			layout指定了日志输出的格式
			maxArchiveFiles 最大备份文件个数，如果小于或等于 0，则不删除旧文件，默认值 0
			archiveFileName 备份文件路径和名称
			createDirs 是否自动创建目录，默认值 true
			enableFileDelete 默认值 true
			archiveAboveSize 日志滚动备份的大小,单位为字节B,10MB=10240000B
			archiveEvery 日志滚动备份的频率
			encoding 日志文件编码格式-->
		<target name="log_file_trace" xsi:type="File"
			fileName="${logDir}/${shortdate}_trace.log"
			archiveFileName="${logDir}/${shortdate}_trace_{###}.log"
			layout="${time_level} ${newline}日志：${log_message}"
			archiveAboveSize="${file_max_size}"
			archiveNumbering="Sequence"
			enableFileDelete="false"
			createDirs="true"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="utf-8"/>

		<target name="log_file_info" xsi:type="File"
			fileName="${logDir}/${shortdate}_info.log"
			archiveFileName="${logDir}/${shortdate}_info_{###}.log"
			layout="${time_level} ${newline}日志：${log_message}"
			archiveAboveSize="${file_max_size}"
			archiveNumbering="Sequence"
			enableFileDelete="false"
			createDirs="true"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="utf-8"/>

		<target name="log_file_error" xsi:type="File"
			fileName="${logDir}/${shortdate}_error.log"
			archiveFileName="${logDir}/${shortdate}_error_{###}.log"
			layout="${time_level} ${log_message}"
			archiveAboveSize="${file_max_size}"
			archiveNumbering="Sequence"
			enableFileDelete="false"
			createDirs="true"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="utf-8"/>

		<target name="log_file_exception" xsi:type="File"
			fileName="${logDir}/${shortdate}_exception.log"
			archiveFileName="${logDir}/${shortdate}_exception{###}.log"
			layout="${time_level} ${newline} ${log_message}"
			archiveAboveSize="${file_max_size}"
			archiveNumbering="Sequence"
			enableFileDelete="false"
			createDirs="true"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="utf-8"/>
	</targets>
	
	<rules>
		<!--下面这句表示不写日志文件-->
		<!--<logger name="*" maxlevel="Off" final="true" />-->
		
		<!--优先级：Trace→Debug→Info→Warn→Error→Fatal-->
		<logger name="*" level="Trace" writeTo="log_file_trace" />
		<logger name="*" level="Info" writeTo="log_file_info" />
		<logger name="*" level="Error" writeTo="log_file_error">
			<filters defaultAction='Log'>
				<when condition="starts-with('${message}','Exception: 类')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" level="Error" writeTo="log_file_exception">
			<filters defaultAction='Ignore'>
				<when condition="starts-with('${message}','Exception: 类')" action="Log" />
			</filters>
		</logger>
	</rules>
</nlog>